.navbar-brand,
.navbar-nav a {
  font-family: 'Dancing Script'!important;
  font-size: 24px;
}

.jumbotron {
  padding-top: 50px !important;
  padding-bottom: 10px !important;
  background-color:transparent !important;
}


/* change arrow colours  */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


body,
.p {
  font-family: 'Cambria' !important;
  font-size:120%;
}

.smig {
  height: 250px!important;
  width: 400px!important;
  object-fit: cover;
}

.modal-img {
  max-width:100%;
  max-height:100%;
}

.table td, .table th {
  min-width: 100px;
  font-family: 'Dancing Script'!important;
  font-size: 36px;
}

.tilda {
  font-size: 45px;
}

